* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  list-style: none;
}

body {
  font-family: 'Sometype Mono', monospace;
}
#root{
  height: 100vh;
}

html{
  background: black;
}

li{
  list-style: none;
}


.body{
  background: black;
  padding: 2rem;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  background-image:
    radial-gradient(#D3E0EA, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(#D3E0EA, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(#D3E0EA, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  animation: moveStars 60s linear infinite;

}
.App {
  background: black;
  border-radius: 1rem;
  border: 0.1rem solid #D3E0EA;
  height: 100%;
  width: 100%;
  padding: 4rem;
  padding-top: 6rem;
  overflow: hidden;
  background-color: #0e0e0e;
  opacity: 0.9;
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #0e0e0e 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  animation: entrance 1s;
}

@keyframes entrance {
  from{
    background-color: #0e0e0e;
opacity: 0.9;
background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #0e0e0e 25%);
background-position:  14px 0, 14px 0, 0 0, 0 0;
background-size: 14px 14px;
background-repeat: repeat;
  }
  to{
    background-color: #0e0e0e;
  opacity: 0.9;
  background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #0e0e0e 25%);
  background-position:  10px 0, 10px 0, 0 0, 0 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  }
}

@keyframes moveStars {
  0% {
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }
  50% {
    background-position: 550px 550px, 390px 610px, 280px 320px, 220px 450px;
  }
  100%{
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  }
}
.navigation{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.nav{
  width: 100%;
  height: 100%;

}

.nav__navItem{
  width: 100%;
}
.nav__navButton{
  background: none;
  border: none;
  color: #D3E0EA;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  font-family: 'Sometype Mono', monospace;
}

.nav__navButton:hover{
  color:#5D12D2;
  cursor: pointer;
}

.nav__navButton:hover .App{
  background-color: #0e0e0e;
opacity: 0.9;
background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #0e0e0e 25%);
background-position:  14px 0, 14px 0, 0 0, 0 0;
background-size: 14px 14px;
background-repeat: repeat;
}

.title{
  background: linear-gradient(to right, #5D12D2,50%,  #FFE5E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 3rem;
}

.section{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
}

.nav__navButton:hover .project{
  display: flex;
}

.project{
  padding-top: 4rem;
}

.project__img{
  width: 100%;
  border-radius: 2rem;
}

.project__links{
  display: flex;
  justify-content: space-evenly;
}
.project__link{
  color: #D3E0EA;
  font-size: 3rem;
  transition: color 0.3s ease;
}

.project__link:hover{
  color: #7D7C7C;
}

.useless{
  display: none;
}
