* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  list-style: none;
  color: #D3E0EA;
}

body {
  font-family: 'Sometype Mono', monospace;
}
#root{
  height: 100vh;
}

html{
  background: black;
}

li{
  list-style: none;
}


.body{
  background: black;
  padding: 4rem;
  padding-right: 2rem;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  display: flex;
  align-items: flex-end;
}
.App {
  background: black;
  border: 0.05rem solid #D3E0EA;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000000;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 14px ), repeating-linear-gradient( #1f1f1f55, #1f1f1f );
  animation: entrance 1s;
  z-index: 1;
  position: relative;
  
}

.darkLight{
  display: flex;
  gap: 1rem;
  z-index: 0;
  height: 100% !important;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.socials{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.themes{
  width: 2rem;
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.darkLight__btn{
  color: #D3E0EA;
  border: none;
  background: none;
  font-size: 1.2rem;
  transition: color 0.5s;
  padding: 0;
  width: 100%;
}

.rotate{
  transform: rotate(-90deg)
}

.darkLight__btn:hover{
  color: #7D7C7C;
  cursor: pointer;
}


.navigation{
  padding: 4rem;
  padding-top: 4rem;
  animation: bounce 1s;
}


@keyframes entrance {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes bounce {
  from{
    transform: translateY(5%);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}


.navigation{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.nav__navItem{
  width: 100%;
  
}
.nav__navButton{
  background: none;
  border: none;
  color: #D3E0EA;
  font-size: 1.5rem;
  transition: color 0.3s ease;
  font-family: 'Sometype Mono', monospace;
}

.nav__navButton:hover{
  color:#7D7C7C;
  cursor: pointer;
}

.nav__navButton:hover .App{
  background-color: #0e0e0e;
opacity: 0.9;
background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #0e0e0e 25%);
background-position:  14px 0, 14px 0, 0 0, 0 0;
background-size: 14px 14px;
background-repeat: repeat;
}

.title{
    font-size: 3rem;
    font-weight: 400;
    color: #D3E0EA;
}

.section{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.section__wrapper{
  width: 100%;
  height: 100%;
}

.section__background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: brightness(20%);
  animation: entrance 1s;
  z-index: -1;
  object-fit: cover;
}

.nav__navButton:hover .project{
  display: flex;
}

.projectOpen{
  background-color: #1a1a1a;
opacity: 0.8;
background: linear-gradient(135deg, #00000055 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #000000 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #000000 25%, #1a1a1a 25%) 0px 0/ 20px 20px;}

.project{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.project__lenWrapper{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.test{
  width: 100%;
  padding-left: 0;
  overflow: hidden;
  position: relative;
  display: none;
  align-items: flex-end;
  flex-direction: column;
  background: #000000;
  padding: 2rem;
  padding-top: 5rem;
  gap: 1rem;
}

.project__disc{
  background: #000000;
  width: 100%;
  animation: entrance 1s;
  color: #D3E0EA;
  font-size: 1.25rem;
  
}

.imgList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.skills__img{
  height: 10rem;
}
img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.rendered{
  display: flex;
}


.project__img{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  filter: brightness(70%);
  object-fit: cover;
  opacity: 1;
  border-top-left-radius: 2rem;
  animation: entrance 0.5s;
}

.project__title{
  z-index: 2;
  color: #D3E0EA;
  font-size: 2rem;
}

.link{
  font-size: 2rem;
}

.static{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(circle at 17% 32%, white, black 0.00085px);
  animation: tv-static 1.5s;
  z-index: -1;
  opacity: 0;
}



@keyframes tv-static {
  0% {
    opacity: 1;
    background-size: 100% 100%;
    z-index: 2;
  }

  90% {
    opacity: 1;
    background-size: 200% 200%;
    z-index: 2;
  }

  100%{
    background-size: 200% 200%;
    opacity: 0;
    z-index: 0;
  }
}
.details{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.project__links{
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}
.project__link{
  opacity: 0.8;
  color: #000000;
  font-size: 2.25rem;
  transition: color 0.3s ease;
}

.project__link:hover{
  color: #7D7C7C;
}

.useless{
  display: none;
}

.light{
  background: #D3E0EA;
  color: #0E0E0E;
  animation: entrance 0.5s;
}

.lightBorder{
  border: 0.05rem solid #0E0E0E;
}
.lightPattern{
  background-color: #989898;
  opacity: 1;
  background-image: radial-gradient(#000000 0.5px, #989898 0.5px);
  background-size: 10px 10px;}
@media screen and (max-width:62.5rem) {
  .navigation{
    padding: 2rem;
  }
  .title{
    font-size: 1.5rem;
  }
  .nav__navButton{
    font-size: 1rem;
  }

  .test{
    padding-top: 2rem;
    overflow-y: scroll;
  }

  .project__title{
    font-size: 1.5rem
  }
  .project__disc{
    font-size: 1rem;
  }

  .section{
    grid-template-columns: 50% 50%;
  }

  .skills__img{
    height: unset;
  }
}

@media screen and (max-width:47.5rem) {
  .about{
    font-size: 0.75rem;
  }
}

@media screen and (max-width:33.125rem) {
  .body{
    padding: 2rem;
  }

  .section{
    grid-template-columns: 1fr;
  }
}
