*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .backgroundcanvas{
    position: absolute;
    width:0px;
  }

  html {
    font-size: 62.5;
    
  }
  
  .site {
    position: relative;
    width: 100vw;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem;
  }
  
  body {
    min-height: 200vh;
    background: white;
    display: flex;
    flex-grow: 2;
  }

  main{
    flex-shrink: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;

    
  }

  .contentPart{
    width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  section {
    display: flex;
  }
  
  .header {
    flex-shrink: 0;
    height: 100vh;
    width: 15vw;
    position: -webkit-sticky;
    position: sticky !important;
    top: 0;
    left: 0;
    background: /* #303841 */ #212529;
    color: #D3E0EA;
    transition: 0.4s all;
    padding-top: 10rem;
    border: 1px solid #303841;
  }

  .header__nav{
    width: 100%;
  }
  
  .header__navItem {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 1px solid #3A4750;
    list-style: none;
  }
  .header__navItem:hover {
    cursor: pointer;
    background: linear-gradient(to right, #A287F4, #7A57D1);
  }
  .canvasWrapper{
    width: 100vw;
    height: 100vh;
  }

  .Planet{
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 1;
  }
  
  .welcome {
    min-width: 85vw;
    height: 50vh;
    display: flex;
    position: relative;
    padding-left: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background: #18122B;
  }
  .welcome__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  .welcome__wrapper{
    width: 60%;
    z-index: 2;
  }
  .welcome__title {
    background: linear-gradient(#A287F4, #7A57D1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100%;
  }
  .welcome__text {
    color: #D3E0EA;
    font-size: 75%;
  }
  .welcome__button {
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(to right, #A287F4, #7A57D1);
    color: #D3E0EA;
    transition: 0.5s all;
  }
  .welcome__button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #7A57D1, #A287F4);
  }
  
  .projects{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

  }

  .projects__wrapper{
    width: 85vw;
    flex-wrap: wrap;
    display: flex;
    gap: 4rem;
  }

  .projects__project{
    width: 25rem;
    font-size: 33%;
  }

  .project__image{
    width: 100%;
    height: 15rem;
    border-radius: 0.2rem;
    transition: transform 0.5s ease;
  }

  .project__image:hover{
    transform: scale(1.2);
  }

  .project__title{
    color: #101314;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .project__dis{
    font-size: 1rem;
  }

  .project__link{
    text-decoration: underline;
    font-size: 1rem;
    display: block;
  }

  .project__link:hover{
    cursor: pointer;
    color: #ADADC9;
  }
  
  .aboutMe{
    background-color: #303841;
    color: #D3E0EA;
    font-size: 50%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutMe__article{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .aboutMe__title{
    font-size: 1.5rem;
  }

  .aboutMe__p{
    font-size: 1rem;
  }

  .aboutMe__figure{
    border-left: 1px solid white;
  }

  .exp{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  .exp__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    width: 85vw;
  }
  .exp__img{
    width: 10rem;
  }

  .passion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }

  .passion__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: #D2E0EA !important;
  }

  .passion__card{
    position: relative;
    height: 30rem;
    width: 20rem;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding:2rem;
    font-size: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .passion__dis{
    font-weight: 300;
  }

  .coding::before{
    background-image: url('../public/images/codingStockImg.jpeg');
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  content: '';
  z-index:-1;
  }

  .bjj::before{
    background-image: url('/images/bjj.jpeg');
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  content: '';
  z-index:-1;
  }

  .poe::before{
    background-image: url('../public/images/poeImg.webp');
    background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  content: '';
  z-index:-1;
  }

  .searching{
    background-color: #303841;
    color: #D3E0EA;
    font-size: 50%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .searching__article{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .searching__title{
    font-size: 1.5rem;
  }

  .searching__p{
    font-size: 1rem;
  }

  .searching__figure{
    background-image: url('../public/images/officePhoto.webp');
    background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  }

  .contact{
    height: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact::after{
    z-index: -1;
    background-image: url('../public/images/contactPicture.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    filter: brightness(0.2);
    position: absolute;
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    content: '';
    z-index:-1;
  }

  .contact__article{
    color: #D2E0EA;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
  }

  .contact__contact{
    font-size: 70%;
    font-weight: 300;
  }

  @media screen and (max-width:44.375rem) {
    .header{
      display: flex;
      width: 100vw;
      align-items: flex-start;
      position: fixed !important;
      top: 0;
      padding-top: 0;
      z-index: 3;
      height: unset;
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.5);
    }
    .header__navItem{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header__nav{
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      align-items: flex-start;
      height: 100%;
    }

    .aboutMe{
      display: block;
      height: 60rem;
    }

    .searching{
      display: flex;
      flex-direction: column-reverse;
      height: 60rem;
    }
    .searching__figure{
      height: 30rem;
    }
  }


@media screen and (max-width:31.25rem) {
  .header__nav{
    font-size: 50%;
  }
  .welcome{
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .welcome__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}