*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
  }
  
  .backgroundcanvas{
    position: absolute;
    width:0px;
  }

  
  html {
    font-size: 62.5;
      scroll-behavior: smooth;
  
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #D3E0EA;
  }
  
  .site {
    position: relative;
    width: 100vw;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem;
  }
  
  body {
    min-height: 200vh;
    background: white;
    display: flex;
    flex-grow: 2;
  }

  main{
    flex-shrink: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    animation-name: header;
    animation-duration: 4s;
    display: flex;
    flex-direction: column;
    gap:2rem;
  }

  .contentPart{
    width: 100vw !important;
    display: flex;


  }


  
  section {
    display: flex;
  }
  
  .header {
    display: flex;
      width: 100vw;
      align-items: center;
      justify-content: space-between;
      position: fixed !important;
      top: 0;
      padding-top: 0;
      z-index: 5;
      height: 6rem;
    /* background:  #303841  #212529; */
    color: #D3E0EA;
    transition: 0.4s all;
    padding: 1.2rem;
    padding-left: 4rem;
    padding-right: 4rem;

    /* border: 1px solid #303841; */
  }

  .header__nav{
    display: flex;
    gap: 2rem;

  }
  
  .header__navItem {
    font-size: 1.3rem;
    list-style: none;
    transition: 1s all;

  }
  .header__navItem:hover {
    cursor: pointer;
    background: linear-gradient(to left, #5D12D2,75%,  #FFE5E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header__icon{
    display: flex;
  }

  .dot{
    background: linear-gradient(to left, #5D12D2,75%,  #FFE5E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  .scrolled{
    background: #101314;
  }

  .front{
    overflow: hidden;

  }
  .canvasWrapper{

  }

  .planetWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5rem;
    top: 0;
    left: 0;
    padding-left: 20rem;
    transform: translateY(-12%);
  }

  .planet{
    display: flex;
    align-items: center;
  }

  .Planet{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: scale(0.8);

  }
  .box {
    background: #18122B;
    height: 15rem;
    
    --mask:
    radial-gradient(134.16px at 50% calc(100% - 180.00px),#000 99%,#0000 101%) calc(50% - 240px) 0/480px 100%,
    radial-gradient(134.16px at 50% calc(100% + 60.00px),#0000 99%,#000 101%) 50% calc(100% - 120px)/480px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
  }
  
  @keyframes header {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  .welcome{
    background: #18122B;
    display: block;

  }
  
  .welcome__top {
    min-width: 85vw;
    height: 90vh;
    display: flex;
    position: relative;
    padding-left: 5rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
    
    font-size: 120%;
    line-height: 2.5rem;
    overflow: hidden;
  }
  .welcome__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

  .welcome__wrapper{
    width: 100%;
    z-index: 2;
  }
  .welcome__title {
    background: linear-gradient(to right, #5D12D2, 25%,  #FFE5E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100%;
  }
  .welcome__text {
    color: #D3E0EA;
    font-size: 75%;
  }
  .welcome__button {
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(to right, #A287F4, #7A57D1);
    color: #D3E0EA;
    transition: 0.5s all;
  }
  .welcome__button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #7A57D1, #A287F4);
  }

  .welcome__bottom{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
  }

  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #D2E0EA;
    position: relative;
    animation: bounce 1s infinite;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(20px);
    }
    60% {
      transform: translateY(10px);
    }
  }
  
  .projects{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .projects__wrapper{
    width: 100%;
    display: flex;
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projects__project{
    font-size: 33%;
    flex-shrink: 1;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  .project__image{
    border-radius: 0.2rem;
    transition: transform 0.5s ease;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    display: inline-block;
  }
  .imgWrap{
    position: relative;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border: 1px solid #101314;
    border-radius: 1rem;
  }

  .project__image:hover{
    transform: scale(1.2);
  }

  .project__imageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #D2E0EA;
    padding: 2rem;
    font-size: 1.25rem;
    opacity: 1;
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    padding: 1rem;
    line-height: 1.5rem;
    opacity: 0;
    z-index: 4;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1rem ;
    padding-bottom: 2rem;
    
  
}
  .project__imageText:hover {
    opacity: 1;
  }

  .project__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  

  .project__title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #A287F4;
    
  }

  .project__disWrap{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }


  .project__dis{
    font-size: 1.25rem;
  }

  .dis{
    font-weight: 400;
  }

  .project__link{
    text-decoration: underline;
    font-size: 1rem;
    display: block;
    color: #D2E0EA;
    font-size: 1.25rem;
  }

  .project__link:hover{
    cursor: pointer;
    color: #A287F4;
  }
  
  .aboutMe{
    background-color: #303841;
    color: #D3E0EA;
    height: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  }

  .aboutMe__article{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;

  }

  .aboutMe__title{
    font-size: 2rem;
  }

  .aboutMe__p{
    font-size: 1.25rem;
  }

  .aboutMe__figure{
    border-left: 1px solid white;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    overflow: hidden;
  }

  .aboutMe__img{
    background-image: url('../public/images/about.jpeg');
      background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .exp{
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

  }

  .exp__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100vw;

  }
  .exp__img{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .passion__wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: #D2E0EA !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .passion__card{
    position: relative;
    height: 30rem;
    width: 100%;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding:2rem;
    font-size: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .passion__dis{
    font-weight: 300;
  }

  .coding::before{
    background-image: url('../public/images/codingStockImg.jpeg');
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  content: '';
  z-index:-1;
  }

  .bjj::before{
    background-image: url('/images/bjj.jpeg');
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  content: '';
  z-index:-1;
  }

  .poe::before{
    background-image: url('../public/images/poeImg.webp');
    background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.3);
  position: absolute;
  top: 0;
  left: 0 ;
  width: 100%;
  height: 100%;
  content: '';
  z-index:-1;
  }

  .searching{
    background-color: #303841;
    color: #D3E0EA;
    font-size: 50%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .searching__article{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 4rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .searching__title{
    font-size: 1.5rem;
  }

  .searching__p{
    font-size: 1rem;
  }

  .searching__figure{
    background-image: url('../public/images/officePhoto.webp');
    background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  }

  .contact{
    height: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #101314;
  }

  .contact::after{
    /* z-index: -1;
    background-image: url('../public/images/contactPicture.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    filter: brightness(0.2);
    position: absolute;
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    content: '';
    z-index:-1; */
  }

  .contact__article{
    color: #D2E0EA;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 1.5rem;
  }

  .contact__contact{
    font-size: 70%;
    font-weight: 300;
  }

  @media screen and (max-width:85rem) {
    .projects__wrapper{
      grid-template-columns: 1fr 1fr;
    }
    .passion__wrapper{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width:44.375rem) {
    .passion__wrapper{
      grid-template-columns: 1fr;
    }
    .header{
      display: flex;
      width: 100vw;
      align-items: flex-start;
      position: fixed !important;
      top: 0;
      padding-top: 0;
      z-index: 3;
      height: unset;
    }
    .header__navItem{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header__nav{
      display: flex;
      justify-content: space-evenly;
      padding: 0;
      align-items: flex-start;
      height: 100%;
    }

    .projects__wrapper{
      grid-template-columns: 1fr;
    }

    .aboutMe{
      display: block;
      height: 60rem;
    }

    .searching{
      display: flex;
      flex-direction: column-reverse;
      height: 60rem;
    }
    .searching__figure{
      height: 30rem;
    }
  }


@media screen and (max-width:31.25rem) {
  .header{
    padding-left: 1rem;
  }

  .header__nav{
    font-size: 50%;
    display: none;
  }

  .header__icon{
    width: 100vw;
    font-size: 80%;
  }
  .welcome{
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .welcome__wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contentPart{
    padding: 1rem;
  }

  .contentPart > h2{
    line-height: 3rem;
    padding-right: 1rem;
  }

  .exp__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 1rem;
    
  }

  .exp__img{
    width: 100%;

  }
}