.projects{
    width: 85vw;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    

    &__title{
        color: #D3E0EA;
        display: flex;
        justify-content: center;
        transform: translateX(-3%);
    }

    &__list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &__item{
        width: 15rem;
        aspect-ratio: 1/1;
        background: #303841;
        list-style: none;
        border: 0.2rem solid #A287F4;
        border-radius: 0.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 1rem;
        position: relative;
    }

    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 0.5rem;
        top: 0;
        left: 0;
    }

    &__name{
        background: linear-gradient(#A287F4, #7A57D1);
        border: 0.1rem solid #303841;
        border-radius: 0.2rem;
        width: 70%;
        font-size: 60%;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #D3E0EA;
        &:hover{
            cursor: pointer;
        }
        z-index: 2;
    }
}