.contact{
    width: 85vw;
    padding: 5rem;
    color: #D3E0EA;

    &__forms{
        background: #303841;
        border-radius: 1rem;
        border: 0.2rem solid #A287F4;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__form{
        display: flex;
        justify-content: space-between;
    }

    &__bigTitle{
        display: flex;
        justify-content: center;
    }

    &__title{
        font-size: 2rem;
    }

    &__input{
        width: 80%;
        resize: none;
        padding: 0.5rem;
    }

    &__post{
        background: linear-gradient(to right, #A287F4, #7A57D1);
        color: #D3E0EA;
        transition: 0.5s all;
        width: 10rem;
        height: 3rem;
        border-radius: 0.5rem;
        &:hover{
            cursor: pointer;
            background:linear-gradient(to right, #7A57D1, #A287F4)
        }
    }
}